/* ----------------- Landing Page -----------------  */

#landing-content {

}

#landing-img {
    display:flex;
}

#landing-photo {
    margin:auto;
    max-width: 30%;
}

#landing-text {
    display:flex;
    margin-top: 20px;
}

.center {
    margin:auto;
}

/* ----------------- About Page -----------------  */

#about-page-container {
   
}

#about-text-photo {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    /* grid-template-areas: ; */
    margin-left: 15%;
    margin-right: 15%;
}

#about-photo {
 max-width: 400px;
 margin-right: 20px;    
}

#video-container {
 max-width: 800px;
 margin: auto;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }


  /* ----------------- Contact Page -----------------  */






  /* ----------------- Project Page -----------------  */

    .project-images-size {
        max-width: 500px;
    }

    .project-details-container {
       display:grid;
    }


  /* ----------------- Experience Page -----------------  */