/* ----------------- Landing Page -----------------  */

#landing-content {

}

#landing-img {
    display:flex;
}

#landing-photo {
    margin:auto;
    max-width: 30%;
}

#landing-text {
    display:flex;
    margin-top: 20px;
}

.center {
    margin:auto;
}

/* ----------------- About Page -----------------  */

#about-page-container {
   
}

#about-text-photo {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    /* grid-template-areas: ; */
    margin-left: 10%;
    margin-right: 10%;
    background-color: red;
}

#about-photo {
 max-width: 400px;
 /* margin-right: 20px;  */
   
}

#about-text {
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}


#video-container {
 max-width: 800px;
 margin: auto;
}

.video-responsive {
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
height: 0;
}

.video-responsive iframe {
left: 0;
top: 0;
height: 100%;
width: 100%;
position: absolute;
}


/* ----------------- Contact Page -----------------  */






/* ----------------- Project Page -----------------  */

.project-image-title {
    display: grid;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 20px;
    background-color: lightblue;
}

.project-images-size {
    max-width: 500px;
    margin: auto;
}

.project-title {
    margin: auto;
}

.project-details-container {
    display: grid;
    /* height: 100%; */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: blue; */
}

.description-container {
    background-color: aquamarine;
}

.features-container {
    background-color: blanchedalmond;
}

.technology-container {
    background-color: darksalmon;
}

.project-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: fit-content;
    margin: auto;
    /* margin-left: 25%;
    margin-right: 25%; */
    background-color: grey;
}


/* ----------------- Experience Page -----------------  */