

#landing-content {

}

#landing-img {
    display:flex;
}

#landing-photo {
    margin:auto;
    max-width: 30%;
}

#landing-text {
    display:flex;
    margin-top: 20px;
}

.center {
    margin:auto;
}